<!-- templates/intro.html -->
{% extends "base.html" %}
{% block content %}
<form name="form" method="POST" action="/join">
  <div class="main intro">
    <div class="panel">
      <div class="section">
        <div class="row3">
          <h1>Ticks and Crosses</h1>
        </div>
      </div>
      <div class="section-gap"></div>
      <div class="section">
        <div class="row">
          <input type="text" 
                 name="room_code"
                 placeholder="Room" 
                 autocomplete="off" 
                 style="text-transform:uppercase" 
                 minlength="4" 
                 maxlength="10" 
                 onkeypress="return /[A-Z0-9]/i.test(event.key)" 
                 required>
        </div>
      </div>
      <div class="section-gap"></div>
      <div class="section">
        <div class="row">
          <button type="submit" name="role" value="learner" class="button1">I'm a learner</button>
          <span class="col-gap"></span>
          <button type="submit" name="role" value="tutor" class="button2">I'm the tutor</button>
        </div>
      </div>
      <div class="section-gap"></div>
      <div class="section">
        <div class="row3">
          <div>Tutor - make up a unique room code for your class</div>
        </div>
      </div>
      <div class="section-gap"></div>
      <div class="section">
        <div class="row">
          <a href="/about">About this app</a>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
