<!-- templates/poll.html -->
{% extends "base.html" %}

{% block title %}Poll - {{ room.code | upper}}{% endblock %}

{% block content %}
<div class="main tutor">
  <div class="panel">
    <div class="section">
      <div class="row">
        <h1>{{ room.description or 'Room ' + room.code }}</h1>
      </div>
    </div>
    {% if room.learners|length > 0 %}
    <div class="section">
      <div class="section-gap"></div>
      <div class="row2">
        <table>
          <thead>
            <tr>
              <td colspan="2">
                Total learners
              </td>
              <td style="text-align: right;">
                {{ room.learners|length }}
              </td>
            </tr>
          </thead>
          <tbody>
            {% for status, count in sorted_status_counts %}
            <tr>
              <td style="text-align: left;">
                {% for i in range(count) %}
                <div class="block {{ 'green-block' if count == highest_count else '' }}"></div>
                {% endfor %}
              </td>
              <td class="status" style="text-align: left;">
                {{ get_status_symbol(status)|safe }}
              </td>
              <td style="text-align: right;">
                <span>{{ count }}</span>
              </td>
             </tr>
             {% endfor %}
          </tbody>
          <tfoot>            
          </tfoot>
        </table>
      </div>
    </div>
    {% endif %}
    {% if room.learners|length == 0 %}
    <div class="section">
      <div class="section-gap"></div>
      <div class="row">No learners have joined the room yet.</div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
// Auto-refresh every 5 seconds
setInterval(() => {
    location.reload();
}, 5000);
</script>
{% endblock %}
